{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Bike Anjo{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extrahead %}{% endblock %}
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <header class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="site-logo"><a href="#"><span class="sr-only">Bike Anjo</span></a></h1>
            </header>
            <nav id="navbar" class="navbar-collapse collapse">
                <div class="navigation">
                    <ul class="nav nav-pills">
                        <li><a href="/">Português</a></li>
                        <li><a href="/en/" class="active">English</a></li>
                        <li><a href="/es/">Español</a></li>
                    </ul>
                    <a href="" class="btn btn-primary">SIGN UP!</a>
                </div>
            </nav><!--/.navbar-collapse -->
        </div>
    </nav>

    <section class="jumbotron">
        <div class="container">
            <h2>WE BELIEVE IN USING BIKES TO TRANSFORM CITIES!</h2>
            <p><a class="btn btn-warning btn-lg" href="#about" role="button">About Us</a></p>
        </div>
    </section>

    <section id="about" class="how-it-works container">
        <header>
            <h2>How does it work?</h2>
            <p>We are a community of volunteer cyclists, or <i>bike anjos</i> – and we love our vehicles.</p>
        </header>
        <div class="row">
            <div class="ask-help box col-md-4">
                <div class="icon"></div>
                <h3>YOU ASK FOR HELP</h3>
                <p>Need help learning how to ride your bike and practice? Are you looking for suggestions on routes, traffic highlights and more? Find everything here on our platform.</p>
            </div>
            <div class="find-help box col-md-4">
                <div class="icon"></div>
                <h3>FIND YOUR BIKE ANJO</h3>
                <p>Tell us what you need and we’ll find our cyclist – or bike anjo – closer to you to help.</p>
            </div>
            <div class="community box col-md-4">
                <div class="icon"></div>
                <h3>GET INVOLVED</h3>
                <p>Got the help you needed? How about engaging other people to do the same and transform your city?</p>
            </div>
        </div>
    </section>

    <section class="statistics">
        <div class="container">
            <header>
                <h2>Our community is growing quickly!</h2>
            </header>
            <div class="box col-xs-6 col-md-3">
                <span class="number">{{ anjos }}</span>
                <span class="info">volunteers</span>
            </div>
            <div class="box col-xs-6 col-md-3">
                <span class="number">{{ pedidos }}</span>
                <span class="info">requests</span>
            </div>
            <div class="box col-xs-6 col-md-3">
                <span class="number">{{ cidades }}</span>
                <span class="info">cities</span>
            </div>
            <div class="box col-xs-6 col-md-3">
                <span class="number">{{ paises }}</span>
                <span class="info">countries</span>
            </div>
        </div>
    </section>

    <section class="devices container">
        <header>
            <h2>We’re connected</h2>
            <p>A new, modern, intuitive and engaging platform!</p>
            <div class="col-xs-10 col-xs-offset-1">
                <img src="{% static 'imgs/devices.jpg' %}" alt="Dispositivos: notebook, tablet, celular" class="img-responsive" />
            </div>
        </header>
    </section>

    <section class="subscribe">
        <div class="container">
            <div class="subscribe-form">
                <header>
                    <h2>Sign up</h2>
                    <p>Sign up to be the first to receive news on our new platform!</p>
                </header>
                <form class="form-inline" action="/fhurl/" method="post" id="mailing">
                    <div class="form-group">
                        <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                        <input type="submit" class="btn btn-info btn-lg" value="Submit">
                    </div>
                </form>
            </div>
            <div class="subscribe-success" style="display:none;">
                <header>
                    <h2>Success!</h2>
                    <p>Thanks for being part of this community.</p>
                </header>
            </div>
        </div>
    </section>

    <section class="join container">
        <header>
            <h2>Are you Brazilian? Then join Bike Anjo righ now!</h2>
            <p>Our current platform is already available for Brazilians – check out what we’re up to!</p>
        </header>
        <div class="ask-help box col-sm-4">
            <div class="icon"></div>
            <h3>NEED A BIKE ANJO?</h3>
            <p>Need one of our volunteers? Our current system is ready to connect you with a Bike Anjo.</p>
            <a href="http://sistema.bikeanjo.com.br/pt-br/solicite-um-bikeanjo/" class="btn btn-success">FIND ME A BIKE ANJO</a>
        </div>
        <div class="join-us box col-sm-4">
            <div class="icon"></div>
            <h3>BECOME A BIKE ANJO</h3>
            <p>Sign up and be a part of our network</p>
            <a href="http://bikeanjo.org/novobikeanjo/" class="btn btn-success">SIGN UP HERE</a>
        </div>
        <div class="events box col-sm-4">
            <div class="icon"></div>
            <h3>PROJECTS AND EVENTS</h3>
            <p>See the list of our projects and events in Brazil</p>
            <a href="http://bikeanjo.org/blog/" class="btn btn-success">CHECK OUT THE LATEST NEWS</a>
        </div>
    </section>

    <footer>
        <div class="container">
            <ul class="social list-inline unstyled">
                <li>
                    <a href="https://www.facebook.com/bikeanjo" class="facebook">
                    <span class="sr-only">Facebook</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+bikeanjo/about" class="google">
                    <span class="sr-only">Google</span></a>
                </li>
                <li>
                    <a href="https://twitter.com/bikeanjo" class="twitter">
                    <span class="sr-only">Twitter</span></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCaFOaDBs3ixRF1wlTixKCZw" class="youtube">
                    <span class="sr-only">YouTube</span></a>
                </li>
            </ul>
            <ul class="nav-footer list-inline unstyled">
                <li>
                    <a href="http://sistema.bikeanjo.com.br/pt-br/solicite-um-bikeanjo/">FIND A BIKE ANJO</a>
                </li>
                <li>
                    <a href="http://bikeanjo.org/novobikeanjo/">BECOME A BIKE ANJO
</a>
                </li>
                <li>
                    <a href="http://bikeanjo.org/blog/">Blog</a>
                </li>
                <li>
                    <a href="http://bikeanjo.org/contato/">Contact</a>
                </li>
            </ul>
            <div class="back-to-top"></div>
        </div>
    </footer>

    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));

        ga('create', 'UA-60116750-1', 'auto');
        ga('send', 'pageview');
    </script>
    {% if debug %}
        <script type='text/javascript' id="__bs_script__">//<![CDATA[
            document.write("<script async src='//HOST:3000/browser-sync/browser-sync-client.1.9.1.js'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
            //]]>
        </script>
    {% endif %}
</body>
</html>
