{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Bike Anjo{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extrahead %}{% endblock %}
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <header class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="site-logo"><a href="#"><span class="sr-only">Bike Anjo</span></a></h1>
            </header>
            <nav id="navbar" class="navbar-collapse collapse">
                <div class="navigation">
                    <ul class="nav nav-pills">
                        <li><a href="/">Português</a></li>
                        <li><a href="/en/">English</a></li>
                        <li><a href="/es/" class="active">Español</a></li>
                    </ul>
                    <a href="" class="btn btn-primary">REGÍSTRATE</a>
                </div>
            </nav><!--/.navbar-collapse -->
        </div>
    </nav>

    <section class="jumbotron">
        <div class="container">
            <h2>¡UNA COMUNIDAD QUE CREE EN LA TRANSFORMACIÓN DE LAS CIUDADES POR MEDIO DE LA BICICLETA!</h2>
            <p><a class="btn btn-warning btn-lg" href="#about" role="button">CONOCE A BIKE ANJO</a></p>
        </div>
    </section>

    <section id="about" class="how-it-works container">
        <header>
            <h2>¿Cómo funciona la plataforma?</h2>
            <p>Somos una comunidad de ciclistas voluntarios apasionados por su medio de transporte</p>
        </header>
        <div class="row">
            <div class="ask-help box col-md-4">
                <div class="icon"></div>
                <h3>TÚ PIDES AYUDA</h3>
                <p>En la plataforma encuentras ayuda para aprender a pedalear y practicar tus pedaleadas, recomendaciones de rutas, acompañamiento en el tráfico y mucho más.</p>
            </div>
            <div class="find-help box col-md-4">
                <div class="icon"></div>
                <h3>ENCUENTRA TU BIKE ANJO</h3>
                <p>Analizamos tu pedido en nuestra base y te conectamos con el voluntari@ - bike anjo -  más cerca de ti para ayudarte.</p>
            </div>
            <div class="community box col-md-4">
                <div class="icon"></div>
                <h3>FORMA PARTE DE LA COMUNIDAD</h3>
                <p>Así como recibes ayuda, también puedes entusiasmar a otras personas a hacer lo mismo y transformar tu ciudad.</p>
            </div>
        </div>
    </section>

    <section class="statistics">
        <div class="container">
            <header>
                <h2>Nuestra comunidad está creciendo rápidamente!</h2>
            </header>
            <div class="box col-xs-6 col-md-3">
                <span class="number">{{ anjos }}</span>
                <span class="info">voluntari@s</span>
            </div>
            <div class="box col-xs-6 col-md-3">
                <span class="number">{{ pedidos }}</span>
                <span class="info">pedidos</span>
            </div>
            <div class="box col-xs-6 col-md-3">
                <span class="number">{{ cidades }}</span>
                <span class="info">ciudades</span>
            </div>
            <div class="box col-xs-6 col-md-3">
                <span class="number">{{ paises }}</span>
                <span class="info">países</span>
            </div>
        </div>
    </section>

    <section class="devices container">
        <header>
            <h2>Estaremos en todos los dispositivos</h2>
            <p>Una nueva plataforma más moderna, intuitiva y participativa</p>
            <div class="col-xs-10 col-xs-offset-1">
                <img src="{% static 'imgs/devices.jpg' %}" alt="Dispositivos: notebook, tablet, celular" class="img-responsive" />
            </div>
        </header>
    </section>

    <section class="subscribe">
        <div class="container">
            <div class="subscribe-form">
                <header>
                    <h2>Regístrate</h2>
                    <p>Sé el primero/a en enterarte del lanzamiento de la nueva plataforma</p>
                </header>
                <form class="form-inline" action="/fhurl/" method="post" id="mailing">
                    <div class="form-group">
                        <input type="email" placeholder="Digite seu e-mail" class="form-control" name="email">
                        <input type="submit" class="btn btn-info btn-lg" value="Enviar">
                    </div>
                </form>
            </div>
            <div class="subscribe-success" style="display:none;">
                <header>
                    <h2>Éxito!</h2>
                    <p>Gracias por ser parte de esta comunidad</p>
                </header>
            </div>
        </div>
    </section>

    <section class="join container">
        <header>
            <h2>¿Eres de Brasil?</h2>
            <p>Ya puedes participar! Si estás en Brasil puedes usar nuestra plataforma actual y enterarte de lo que estamos haciendo.</p>
        </header>
        <div class="ask-help box col-sm-4">
            <div class="icon"></div>
            <h3>PEDIR UN BIKE ANJO</h3>
            <p>Ya puedes pedir ayuda para pedalear en nuestro sistema actual</p>
            <a href="http://sistema.bikeanjo.com.br/pt-br/solicite-um-bikeanjo/" class="btn btn-success">PIDE AYUDA</a>
        </div>
        <div class="join-us box col-sm-4">
            <div class="icon"></div>
            <h3>CONVIÉRTETE UN BIKE ANJO</h3>
            <p>Entra y forma parte de nuestra comunidad de voluntarios/as</p>
            <a href="http://bikeanjo.org/novobikeanjo/" class="btn btn-success">PARTICIPA</a>
        </div>
        <div class="events box col-sm-4">
            <div class="icon"></div>
            <h3>EVENTOS Y PROYECTOS</h3>
            <p>Mira la agenda de eventos y proyectos que tenemos por todo Brasil</p>
            <a href="http://bikeanjo.org/blog/" class="btn btn-success">MIRA LAS NOTICIAS</a>
        </div>
    </section>

    <footer>
        <div class="container">
            <ul class="social list-inline unstyled">
                <li>
                    <a href="https://www.facebook.com/bikeanjo" class="facebook">
                    <span class="sr-only">Facebook</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+bikeanjo/about" class="google">
                    <span class="sr-only">Google</span></a>
                </li>
                <li>
                    <a href="https://twitter.com/bikeanjo" class="twitter">
                    <span class="sr-only">Twitter</span></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCaFOaDBs3ixRF1wlTixKCZw" class="youtube">
                    <span class="sr-only">YouTube</span></a>
                </li>
            </ul>
            <ul class="nav-footer list-inline unstyled">
                <li>
                    <a href="http://sistema.bikeanjo.com.br/pt-br/solicite-um-bikeanjo/">PEDIR UN BIKE ANJO</a>
                </li>
                <li>
                    <a href="http://bikeanjo.org/novobikeanjo/">CONVIÉRTETE UN BIKE ANJO</a>
                </li>
                <li>
                    <a href="http://bikeanjo.org/blog/">Blog</a>
                </li>
                <li>
                    <a href="http://bikeanjo.org/contato/">Contacto</a>
                </li>
            </ul>
            <div class="back-to-top"></div>
        </div>
    </footer>

    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));

        ga('create', 'UA-60116750-1', 'auto');
        ga('send', 'pageview');
    </script>
    {% if debug %}
        <script type='text/javascript' id="__bs_script__">//<![CDATA[
            document.write("<script async src='//HOST:3000/browser-sync/browser-sync-client.1.9.1.js'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
            //]]>
        </script>
    {% endif %}
</body>
</html>
